# Preprocess Data

In [1]:
from CONFIG import RAW_DATA_PATH, PREPROCESSED_DATA_PATH
from preprocessing import parse_cat, strip_punctuation, lower_case, strip_spaces
import pandas as pd
import numpy as np

In [2]:
df_data = pd.read_parquet(RAW_DATA_PATH)

In [3]:
df_data.head()

,title,categories
0,"the crucible: performed by stuart pankin, jero...",[[Books]]
1,"everyday italian (with giada de laurentiis), v...","[[Movies & TV, Movies]]"
2,purple sequin tiny dancer tutu ballet dance fa...,"[[Clothing, Shoes & Jewelry, Girls], [Clothing..."
3,adult ballet tutu cheetah pink,"[[Sports & Outdoors, Other Sports, Dance, Clot..."
4,girls ballet tutu neon pink,"[[Sports & Outdoors, Other Sports, Dance]]"

### Grab Top-Level Cat

In [4]:
print("Example Category")
np.array(df_data["categories"])[0]

Example Category

array([array(['Books'], dtype=object)], dtype=object)

In [5]:
print("Parsed top-level")
parse_cat(np.array(df_data["categories"])[0])

Parsed top -level

'Books'

In [6]:
df_data["categories"] = [parse_cat(x) for x in df_data["categories"]]

In [7]:
df_data.head()

,title,categories
0,"the crucible: performed by stuart pankin, jero...",Books
1,"everyday italian (with giada de laurentiis), v...",Movies & TV
2,purple sequin tiny dancer tutu ballet dance fa...,"Clothing, Shoes & Jewelry"
3,adult ballet tutu cheetah pink,Sports & Outdoors
4,girls ballet tutu neon pink,Sports & Outdoors

### Normalize Text

In [ ]:
df_data["categories"] = [strip_punctuation(lower_case(x)) for x in df_data["categories"]]
df_data["title"] = [strip_punctuation(lower_case(x)) for x in df_data["title"]]

In [ ]:
df_data.head()

### Merge Categories Into Single Tokens

In [ ]:
df_data["categories"] = [strip_spaces(x) for x in df_data["categories"]]

In [ ]:
df_data.head()

### Filter Out Any EmptyTitles

In [ ]:
df_data = df_data[np.array([len(x) for x in df_data["title"]]) > 0]
df_data = df_data[np.array([len(x) for x in df_data["categories"]]) > 0]

### Write Output

In [ ]:
df_data.to_parquet(PREPROCESSED_DATA_PATH)